    <!-- footer -->
    <footer>
        <p><a href="/posts/new">Add new</a></p>
        <ul>
            <li>
                <a href="mailto:nanami@i-system.co.jp" target="_blank">
                    <img src="/img/mail.png" width="20" height="20" alt="メール">
                </a>
            </li>
            <li>
                <a href="https://www.google.co.jp/" target="_blank">
                    <img src="/img/blog.png" width="20" height="20" alt="ブログ">
                </a>
            </li>
            <li>
                <a href="https://www.yahoo.co.jp/" target="_blank">
                    <img src="/img/photos.png" width="20" height="20" alt="写真">
                </a>
            </li>
        </ul>
        <p>(c)Nobumasa Nanami</p>
    </footer>
</body>
</html>