<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <title>ななみのサイト</title>
        <link rel="icon" href="/img/nanami.jpg">
        <meta name="description" content="のぶまさのサイト">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>