<% include ../header %>
<!-- header -->
<header>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li class="current">
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/posts/new">NEW</a>
            </li>
        </ul>
    </nav>
</header>

<section class="about">
    <!-- LOGINの実装 -->
    <h1>ログイン画面つくつよ</h1>
    <p>２ぺーじめ。２ぺーじめ。２ぺーじめ。２ぺーじめ。２ぺーじめ。２ぺーじめ。２ぺーじめ。２ぺーじめ。</p>     
</section>
<% include ../footer %>