<!DOCTYPE html>
<html lang="ja">
<body>
    <p><%= error %</p>
    <form action="/login" method="POST">
    ID:
    <input type="text" name="name" value="<%= input_id %>">
    Password:
    <input type="password" name="password" value="<%= input_password >">
    <input type="submit" value="ログイン">
    </form>
</body>
</html>